/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@import 'palette.scss';

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.toolbar-fixed {
    position: fixed;
    z-index: 998;
    height: 64px;
}

.main-content {
    position: relative;
    top: 64px;
    height: calc(100vh - 64px);
}

.spinner-button {
    .mat-progress-spinner {
        margin: 8px;
    }
}

.button-row {
    button, a {
        margin-top: 8px;
        margin-right: 8px;
    }
}

.container-15 {
    padding: 15px;
}

.text-nowrap {
    white-space: nowrap;
}
