/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@import 'palette.scss';

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.button-row a {
  margin-right: 8px;
}

.spinner-button {
    .mat-spinner {
        margin-top: 6px;
        margin-bottom: 6px;
    }
}
